/*  页脚  */

div.footer{
	width: 950px;
	height: 147px;
	margin: 0px auto;
	padding-top: 14px;
}

/*  页脚 左边  */

div.footer div.footer_left{
	width: 541px;
	float: left;
}
div.footer_left p{
	font: 12px/19px arial;
	white-space: nowrap;
	color: #999;
}
div.footer_left p img{
	display: inline-block;
}
div.footer_left p img.jubao{
	width: 117px;
	height: 16px;
	vertical-align: top;
}
div.footer_left p a{
	vertical-align: middle;
}
div.footer_left p a:link{
	color: #37a;
}

div.footer_left p a:visited{
	color: #669;
}
div.footer_left p a:hover{
	color:#fff;
	background: #27a;
}
div.footer_left p i{
	display: inline-block;
	width: 15px;
	height: 17px;
	background: url(../images/footer/3.gif) no-repeat;
	vertical-align: top;
}
div.footer_left p i.jubao_center{
	display: inline-block;
	width:15px;
	height:12px;
	background: url(../images/footer/4.png) no-repeat;
	background-size: 15px 12px;
	vertical-align: middle;
}

/*  页脚 右边  */

div.footer_right{
	width: 409px;
	float: left;
	font: 12px/12px arial;
}
div.footer_right a{
	color: #37a;
	line-height: 18px;
	letter-spacing: -0.15px;
}
div.footer_right a:hover{
	color: #fff;
	background: #27a;
}
div.footer_right img{
	display: block;
	width: 150px;
	height: 63px;
	margin-top: 21px;
}